<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>About</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon mdd.ico" rel="icon">
  <link href="static/img/favicon mdd.ico" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=https://fonts.googleapis.com/css?family=Inconsolata:400,500,600,700|Raleway:400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: MyPortfolio - v4.3.0
  * Template URL: https://bootstrapmade.com/myportfolio-bootstrap-portfolio-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Navbar ======= -->
  <div class="collapse navbar-collapse custom-navmenu" id="main-navbar">
    <div class="container py-2 py-md-5">
      <div class="row align-items-start">
        <div class="col-md-2">
          <ul class="custom-menu">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="about.html">About Me</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-6 d-none d-md-block  mr-auto">

            <div>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-none d-md-block">
        </div>
      </div>

    </div>
  </div>

  <nav class="navbar navbar-light custom-navbar">
    <div class="container">
      <a class="navbar-brand" href="/">MyPortfolio.</a>
      <a href="#" class="burger" data-bs-toggle="collapse" data-bs-target="#main-navbar">
        <span></span>
      </a>
    </div>
  </nav>

  <main id="main">

    <section class="section pb-5">
      <div class="container">
        <div class="row mb-5 align-items-end">
          <div class="col-md-6" data-aos="fade-up">

            <h2>About Me</h2>
          </div>

        </div>



          <div class="col-md-7 mb-5 mb-md-0" data-aos="fade-up">
            <p><img src="static/img/afbeeldingen mamas website/img_about_me.jpeg" alt="Image" class="img-fluid"></p>
            <p>Hoi, ik ben Marianne Deelen. Na het behalen van mijn diploma als meesterschilder aan het sint-lucas te boxtel in 1987 ben ik naar Antwerpen gegaan om daar decoratie en restauratie technieken te leren. In die tijd en daarna heb ik nog vele lessen bij de heer Meylemans gevolgd en leerde daar hout en marmer imitaties en het schilderen van trompe-l'oeils. Na mijn studie heb ik veel werkzaamheden verricht in kerken en momumentale gebouwen. Muurschilderingen van baby, kinder, slaap of andere kamers maak ik als zzp'er. Zo ook het restaureren van beelden. Verder ben ik graag bezig in opdracht voor het maken van Ikonen, portretten en hout en marmer panelen. Maar ook voor een muurschildering mag je me bellen! <p>Mijn telefoonnummer is: +316 44 10 44 03     <br> Email: pmmdeelen@hotmail.com  <br>Kvk nr: 17173106 </p></p>
          </div>

        </div>

      </div>

    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% include "footer.html" %}
</body>

</html>