<!DOCTYPE html>
<html lang="en">

{% include "header.html" %}

<body>

  <!-- ======= Navbar ======= -->
  <div class="collapse navbar-collapse custom-navmenu" id="main-navbar">
    <div class="container py-2 py-md-5">
      <div class="row align-items-start">
        <div class="col-md-2">
          <ul class="custom-menu">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="about.html">About Me</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-6 d-none d-md-block  mr-auto">




            </div>
          </div>
        </div>
        <div class="col-md-4 d-none d-md-block">


        </div>
      </div>

    </div>
  </div>

  <nav class="navbar navbar-light custom-navbar">
    <div class="container">
      <a class="navbar-brand" href="/">Mijn Portfolio.</a>
      <a href="#" class="burger" data-bs-toggle="collapse" data-bs-target="#main-navbar">
        <span></span>
      </a>
    </div>
  </nav>

  <main id="main">

    <!-- ======= Works Section ======= -->
    <section class="section site-portfolio">
      <div class="container">
        <div class="row mb-5 align-items-center">
          <div class="col-md-12 col-lg-6 mb-4 mb-lg-0" data-aos="fade-up">
            <h2>Marianne Deelen</h2>
            <p class="mb-0">Restaurateur &amp; Decorateur</p>
          </div>
          <div class="col-md-12 col-lg-6 text-start text-lg-end" data-aos="fade-up" data-aos-delay="100">
          </div>
        </div>
        <div id="portfolio-grid" class="row no-gutter" data-aos="fade-up" data-aos-delay="200">
          <div class="item web col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="work-single3.html" class="item-wrap fancybox">
              <div class="work-info">
                <h3>Muurschilderingen</h3>
              </div>
              <img class="img-fluid" src="static/img/img_1.jpg">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="work-single.html" class="item-wrap fancybox">
              <div class="work-info">
                <h3>Hout en Marmertechnieken</h3>
              </div>
              <img class="img-fluid" src="static/img/img_2.jpg">
            </a>
          </div>
          <div class="item branding col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="work-single6.html" class="item-wrap fancybox">
              <div class="work-info">
                <h3>Portretten</h3>
              </div>
              <img class="img-fluid" src="static/img/img_3.jpg">
            </a>
          </div>
          <div class="item design col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="work-single4.html" class="item-wrap fancybox">
              <div class="work-info">
                <h3>Restauratie</h3>
              </div>
              <img class="img-fluid" src="static/img/img_4.jpg">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="work-single5.html" class="item-wrap fancybox">
              <div class="work-info">
                <h3>Schilderijen</h3>
              </div>
              <img class="img-fluid" src="static/img/img_5.jpg">
            </a>
          </div>
          <div class="item branding col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="work-single2.html" class="item-wrap fancybox">
              <div class="work-info">
                <h3>Ikonen</h3>
              </div>
              <img class="img-fluid" src="static/img/img_6.jpg">
            </a>
          </div>
        </div>
      </div>
    </section><!-- End  Works Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
{% include "footer.html" %}
</body>

</html>